@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
    @apply px-3;
}

.bg-first{
    background: rgb(70 80 223);
}
.bg-second{
    background: rgb(12, 21, 152);
}

.mobile-nav{
    @apply fixed top-10 left-0 bg-gray-800 w-full h-1/3;


}
.mobile-nav li{
    @apply w-full h-full text-center border-b-2 border-gray-600
}

.btn{
    @apply bg-first px-5 py-2 font-bold hover:border-2 border-second  ;
}
html{
    scroll-behavior: smooth;
}